/* Typography */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
/* Font Family:
font-family: 'IBM Plex Sans', sans-serif; */

/* Font Sytles */
.heading-xl {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.454545px;
    color: #191826;
    margin-bottom: 20px;
}

.heading-m {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FCFAF9;
    margin-bottom: 12px;
}

.paragraph-dark {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
}

/*extra bottom margin for .paragraph-dark */
.margin-bottom {
    margin-bottom: 166px;
}

.paragraph-white {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FCFAF9;
    margin-bottom: 36px;
}

.price {
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    color: #FCFAF9;
}

.per-month {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #FCFAF9;
}

/* Buttons */

.ios {
    width: 296px;
    height: 61px;
    background-color: #191826;
    border-radius: 12px;
    border: none;
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    color: #FCFAF9;
    margin: 32px 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.8px;
}

.ios:hover {
    background-color: #66E2DC;
    cursor: pointer;
}

.android {
    width: 296px;
    height: 61px;
    background-color: #FCFAF9;
    border-radius: 12px;
    border: none;
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    color: #191826;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.8px;
}

.android:hover {
    background-color: #FFB964;
    cursor: pointer;
}

/* other styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #FCFAF9;
    background-image: url("assets/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-position: left -230px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    margin: 40px 0 64px 25px;
    width: 146.09px;
}

.main-section {
    margin: 0 24px;
}

.relative {
    position: relative;
}

.mobile {
    width: 208.97px;
    position: absolute;
    top: -98px;
    left: calc(50% - 208.97px / 2);
}

.black {
    width: 100%;
    height: 600px;
    background-color: #191826;
    border-radius: 12px;
    background-image: url("assets/bg-pattern-2.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.orange {
    width: 100%;
    height: 546px;
    background-color: #FA7453;
    border-radius: 12px;
    margin-top: -100px;
    padding: 48px 36px 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin: 64px 24px 0;
}

.logo-footer {
    margin-bottom: 32.01px;
}
.icons {
    margin: 64px 0 81.5px 20px;
    fill: #191826;
}

.icons:hover {
    fill: #FA7453;
    cursor: pointer;
}


/* Styles for Tablet */

@media only screen and (min-width: 768px) {
    body {
        background-image: url("assets/bg-pattern-1.svg"),
        url("assets/bg-main-tablet.png");
        background-repeat: no-repeat no-repeat;
        background-position: 110% -55px, -500px -320px;
    }
    .logo {
        margin: 61.99px 40px 95.01px;
    }
    .main-section {
        margin: 0 209px 111px 40px;
        width: 520px;
    }
    .heading-xl {
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.727273px;
        margin-bottom: 35px;
    }
    .paragraph-dark {
        font-size: 18px;
        line-height: 28px;
        width: 514px;
    }
    .relative {
        margin: 0 40px;
    }
    .mobile {
        left: 64px;
        width: 270.21px;
    }
    .orange {
        width: 399px;
        margin-left: 33%;;
        margin-top: -400px;
        position: inherit;
    }
    footer {
        margin: 64px 40px 0;
    }
    footer p {
        width: 366px;
    }
    .footer-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    br {
        display: none;
    }
}


/* Styles for Desktop */

@media only screen and (min-width: 1440px) {
    body {
        background-image: url("assets/bg-pattern-1.svg"),
        url("assets/bg-main-desktop.png");
        background-repeat: no-repeat;
        background-position: 100% -35px, center -350px;
    }
    .logo {
        margin-left: 165px;
    }
    .main-section {
        width: 1015px;
        margin-left: 165px;
    }
    .heading-xl {
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -1px;
    }
    .paragraph-dark {
        width: 825px;
        font-size: 20px;
        line-height: 34px;
    }
    .relative {
        margin: 0 165px;
    }
    .black {
        background-position: 40% 0;
    }
    .mobile {
        width: 280px;
        left: 118px;
    }
    .orange {
        margin-left: 50%;
        width: 446px;
        height: 625px;
    }
    .heading-m {
        font-size: 40px;
        line-height: 52px;
    }
    .paragraph-white {
        font-size: 20px;
        line-height: 34px;
        padding-right: 40px;
    }
    footer {
        margin: 64px 165px 0;
        display: flex;
        align-items: baseline;
        justify-content: space-around;
    }
    .footer-desktop-p {
        width: 400px;
    }
    br {
        display: none;
    }
}
